body {
	background: #F2F2F2;	
	font: 12px/1.5 Verdana,'ו',tahoma, Srial, helvetica, sans-serif;
	margin:0;
	padding:0;
}

a {
	font-size:12px;
	color:#0F83DB;
	text-decoration:none;
}

#header a:hover,#content p a:hover,#footer a:hover{
	text-decoration:underline;
}

#header a{
	line-height:12px;
	color: #FFF;
}

#header .top_home{
	border-right: 1px solid #FFF;
	padding-right: 6px;
	margin-right: 2px;
}

.fleft{ display: inline; float:left;}

.fright{ display: inline; float:right;}

#content{
	width: 760px;
	margin: 50px;
	margin-bottom:0;
	padding:20px 20px 40px;
	background: #FFF;	
	border: 1px solid #CCC;
	border-bottom:none;
}

#content h1 {
	margin: 0; color: #F60;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #CCC;	
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;	
	padding: 7px 0;
}